extends layout

block content
  .container.col-md-12.column(style="background-color: #C0C0C0")
    .row.clearfix
      .col-md-12.column
        div(style="height: 25px")
    .row.clearfix
      .col-md-4.column
        include navbar
      .col-md-8.column(align="center",style="background-color: #{bcblock}; min-height:450px;")
        p
        p(align="left", style="font-size: 14px;")
                  strong biografie 
        table(border='0')
          tr.tableName
              td(width='100')
                span 1954
              td(colspan='2')
                span in peking - china geboren 
            tr.tableName
              td
                span ab 1960 
              td(colspan='2')
                span schulzeit und gymnasium in prag 
            tr.tableName
              td
                span 1970-1974
              td(colspan='2')
                span
                    | abgeschlossenes studium der malerei und kunstgeschichte an der kunstschule in prag
            tr.tableName
              td
                span 1974-1976
              td(colspan='2')
                span besuch der kunstakademie in prag 
            tr.tableName
              td
                span 1977
              td(colspan='2')
                span ankunft in der brd
            tr.tableName
              td
                span seit 1989
              td(colspan='2')
                span atelier in nürnberg
        p
        hr(style="border-style: dashed")
        p
        p(align="left", style="font-size: 14px;")
                  strong ausstellungen 
        p.bla(align="left")
                  | einzelausstellungen und ausstellungsbeteiligungen – auszug
        table(border='0')
            tr.tableName
              td(width='100')
                span bad steben
              td(colspan='2')
                span  grafik museum
            tr.tableName
              td
                span bamberg
              td(colspan='2')
                span villa dessauer
            tr.tableName
              td
                span bayreuth
              td(colspan='2')
                span emeritage
            tr.tableName
              td
                span berlin
              td(colspan='2')
                span europäisches parlament
            tr.tableName
              td
                span erlangen
              td(colspan='2')
                span
                    | palais stutterheim, neue galerie,orangerie-300jahre, ev stadtakademie, logenhaus, museumswinkel, treppenhaus galerie
            tr.tableName
              td
                span  frankreich 
              td(colspan='2')
                span  limoges-pavillon du verdurier 
            tr.tableName
              td
                span  fürth 
              td(colspan='2')
                span  kleines atelier 
            tr.tableName
              td
                span  heroldsberg 
              td(colspan='2')
                span  kulturscheune 
            tr.tableName
              td
                span  italien 
              td(colspan='2')
                span  cecina-art&culture international 
            tr.tableName
              td
                span  lichtenfels 
              td(colspan='2')
                span  stadtschloss 
            tr.tableName
              td
                span  nürnberg 
              td(colspan='2')
                span
                  | kunsthaus, ehrenhalle des rathauses, eppeleinsaal an der burg, akademie c. Pirkheimer, unter den schildkröten, galerie der friedenskirche, theater 1001, nürbanum
            tr.tableName
              td
                span  neumarkt 
              td(colspan='2')
                span  ausstellungshalle reitstadel 
            tr.tableName
              td
                span  offenbach 
              td(colspan='2')
                span  kunst raum mato 
            tr.tableName
              td
                span  trautskirchen 
              td(colspan='2')
                span  galerie eigner 
            tr.tableName
              td
                span  tschechien 
              td(colspan='2')
                span  prag-sups zizkovo namesti 
            tr.tableName
              td
                span  usedom 
              td(colspan='2')
                  span  galerie nohara 
        p
        hr(style="border-style: dashed")
        p
        p(align="left", style="font-size: 14px;")
                  strong mitgliedschaften  
        ul(align="left", style="font-size: 12px;")
            li bbk oberfranken 
            li gedok mittelfranken 
            li kve
        p
