.container.col-md-12.column(style="background-color: #{bcheader};")
  .row.clearfix
    .col-md-4.column
      div(style="padding: 3px 0px 3px 0px")
        if headerimg != ""
          img(width="100%", src="#{headerimg}")
    .col-md-3.column
    .col-md-5.column(style="height: 117px")
      div(style="padding: 3px 3px 3px 3px; position: absolute; bottom: 0; left: 0;")
        h1.logo(style="text-align:bottom") alena tomasek