extends layout

block content
  .container.col-md-12.column(style="background-color: #C0C0C0")
    .row.clearfix
      .col-md-12.column
        div(style="height: 25px")
    .row.clearfix
      .col-md-4.column
        include navbar
      .col-md-8.column(align="center",style="background-color: #{bcblock}; min-height:450px;")
        p
          table(width='520', border='0')
            tr
                td(width='125')
                  p(align='left')
                    img(src='image/portrait.jpg', width='125', height='141')
                td(width='15')  
                td
                  div(align='left')
                    span
                      strong alena tomasek
                      br
                      | marktäckerstr. 66
                      br
                      | 90427 nürnberg
              tr
                td(height='23', colspan='2')
                  div(align='left')
                td(width='394')
                  div(align='left')
              tr
                td
                  div(align='left')
                    span telefon
                td(colspan='2')
                  div(align='left')
                    strong
                      span 0911 / 31 37 11
              tr
                td
                  div(align='left')
                    span fax
                td(colspan='2')
                  div(align='left')
                    strong
                      span 0911 / 810 69 69
              tr
                td
                  div(align='left')
                    span mail
                td(colspan='2')
                  div(align='left')
                    strong
                      span
                        a(href='mailto:email@alena-tomasek.de') email@alena-tomasek.de
              tr
                td
                  div(align='left')
                    span öffnungszeiten
                td(colspan='2')
                  div(align='left')
                    strong
                      span mittwoch und donnerstag 10.00 – 18.00 uhr 
              tr
                td(height='22', colspan='2')
                  div(align='left')
                td
                  div(align='left')

          div(align='center')
            img(src="image/Anfahrt.jpg", width='100%')



