extends layout

block content
  .container.col-md-12.column(style="background-color: #C0C0C0")
    .row.clearfix
      .col-md-12.column
        div(style="height: 25px")
    .row.clearfix
      .col-md-4.column
        include navbar
      .col-md-8.column(align="left",style="background-color: #{bcblock}; min-height:450px;")
        p
        p 
          i  Keramikkurse
          | , sowie 
          i Radierungkurse - Druckgrafik 
          | gibt es nach Anfrage.
        p Nach Ihren zeitlichen Möglichkeiten werden individuelle Wunschtermine vereinbart.
        | Es hat sich bewährt, mindestens 3x einen 90 Min. Kurs zu planen.
        p
        hr(style="border-style: dashed")
        h4 Preise

        table.table.table-hover
          thead
            tr
              th
                | Zeit
              th
                | Teilnehmeranzahl
              th
                | pro Person
          tbody
            tr
              td
                | 60 Minuten
              td
                | 1 Person
              td
                | 18.- €
             tr
              td
                | 60 Minuten
              td
                | 2 Person
              td
                | 9.- €
            tr
              td
                | 60 Minuten
              td
                | 3 Person
              td
                | 6.- €
            tr
              td
                | 60 Minuten
              td
                | 4 Person
              td
                | 4.- €

        p 
          | Materialkosten werden nur nach dem tatsächlichen Aufwand berechnet. 
          | Es entstehen sehr geringe Kosten.
