extends layout

block content
  .container.col-md-12.column(style="background-color: #C0C0C0")
    .row.clearfix
      .col-md-12.column
        div(style="height: 25px")
    .row.clearfix
      .col-md-4.column
        include navbar
      .col-md-8.column(align="left",style="background-color: #{bcblock}; min-height:450px;")
        p
        p 
          i  keramikkurse
          | , sowie 
          i radierungkurse - druckgrafik 
          | gibt es nach anfrage.
        p nach Ihren zeitlichen möglichkeiten werden individuelle wunschtermine vereinbart.
        | es hat sich bewährt, mindestens 3x einen 90 min. kurs zu planen.
        p
        hr(style="border-style: dashed")

        table.table.table-hover
          thead
            tr
              th
                | zeit
              th
                | teilnehmeranzahl
              th
                | pro person
          tbody
            tr
              td
                | 60 minuten
              td
                | 1 person
              td
                | 18.- €
             tr
              td
                | 60 minuten
              td
                | 2 person
              td
                | 9.- €
            tr
              td
                | 60 minuten
              td
                | 3 person
              td
                | 6.- €
            tr
              td
                | 60 minuten
              td
                | 4 person
              td
                | 4.- €

        p 
          | materialkosten werden nur nach dem tatsächlichen aufwand berechnet. 
          | es entstehen sehr geringe kosten.
