extends layout
block content
  .container.col-md-12.column(style="background-color: #C0C0C0")
  .row.clearfix
    .col-md-12.column
      if (errortext)
        p(style="color: #d9534f")
          strong #{errortext}
      if (signupEmail)
        p Congratulations on signing up! Please login below
      form(action="/login", method="POST")
        fieldset
          legend Log in
          p
            label Name
            input(name="user[name]", type="text", value=signupEmail)
          p
            label Password
            input(name="user[password]", type="password")
          p
            button Submit
          p
            a(href="/") Go back