div(style="background-color: #C0C0C0")
  ul.nav.nav-stacked.nav-pills
    li
      a(href='/home') home
    li
      a(href='/malerei') malerei
    li
      a(href='/grafik') grafik
    li
      a(href='/keramik') keramik
    li
      a(href='/kurse') kurse
    li
      a(href='/biografie') biografie
    li
      a(href='/ausstellungen') ausstellungen
    li
      a(href='/impressum') impressum